html,
body {
  height: 100%;
}
body {
  background: url("../img/mobile_background.jpg") no-repeat scroll 19% center / cover rgba(0, 0, 0, 0);
  background-attachment: fixed;
}
.logo {
  display: block;
  margin: 0 auto 100px;
  width: 160px;
}
@media (min-width: 500px) {
  .logo {
    position: fixed;
    left: 5%;
    top: 7%;
  }
}
header {
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1000;
}
.nav-up {
  top: -50px;
}
.mobile_nav {
  background-color: #3E8A32;
  border-bottom: 1px solid #030202;
  height: 50px;
  width: 100%;
}
@media (min-width: 500px) {
  .mobile_nav {
    display: none;
  }
}
.mobile_nav .mobile_nav__menu {
  background: url("../img/mobile_menu.png") no-repeat scroll center center / 60% auto rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 50px;
  width: 63px;
}
.mobile_nav__links {
  position: relative;
  left: -640px;
}
.mobile_nav__links a {
  background-color: #ffffff;
  border-bottom: 1px solid #8D8D8D;
  display: block;
  color: #030202;
  font-family: 'Special Elite', trebuchet ms, sans-serif;
  font-size: 20px;
  padding: 15px 0 15px 15px;
  text-decoration: none;
}
.mobile_nav__links a:hover {
  background-color: #3e8a32;
  color: #ffffff;
}
.desktop_nav {
  position: fixed;
  right: 0;
}
@media (max-width: 500px) {
  .desktop_nav {
    display: none;
  }
}
.desktop_nav ul li a {
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  display: block;
  color: #030202;
  font-family: 'Special Elite', trebuchet ms, sans-serif;
  font-size: 20px;
  padding: 16px 32px 14px 60px;
  text-align: right;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.desktop_nav ul li a:hover {
  background-color: #3e8a32;
  color: #ffffff;
}
.desktop_nav ul li a.active {
  background-color: #3e8a32;
  color: #ffffff;
}
.desktop_nav ul li span {
  background: url('../img/desktop-link-active.png');
  display: block;
  height: 60px;
  left: 0;
  margin: 0 0 0 39px;
  position: absolute;
  width: 53px;
  z-index: 9;
}
.desktop_nav ul li:last-child a {
  border-bottom: 1px solid #e8e8e8;
}
.title {
  margin: 70px auto 23px;
}
@media (min-width: 500px) {
  .title {
    margin-bottom: 80px;
  }
}
.title .page_title {
  color: #ffffff;
  font-family: 'Special Elite', trebuchet ms, sans-serif;
  font-size: 200%;
  margin: 0;
  text-align: center;
}
@media (min-width: 500px) {
  .title .page_title {
    font-size: 50px;
  }
}
.section_title {
  color: #ffffff;
  font-family: 'Special Elite', trebuchet ms, sans-serif;
  font-size: 35px;
  margin: 0 0 20px;
  text-align: center;
}
.content {
  background-color: #3e8a32;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin: 0px 5% 200px;
  padding: 30px 5%;
}
@media (min-width: 500px) {
  .content {
    font-size: 21px;
    line-height: 37px;
    margin: 0px 24% 200px;
    left: -15px;
    position: relative;
  }
}
.experience_content__list:last-child {
  margin-bottom: 20px;
}
.experience_content__list {
  margin-bottom: 70px;
}
.experience_content__list li {
  margin-bottom: 20px;
}
.experience_content__list_title {
  font-size: 20px;
  font-weight: bold;
}
.skills_content table {
  width: 100%;
  margin: 0 auto;
}
.skills_content td {
  text-align: center;
  width: 33%;
}
.samples_content {
  background-color: transparent;
  margin-bottom: 200px;
}
.samples_content__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 95%;
}
@media (min-width: 500px) {
  .samples_content__list {
    width: 100%;
    margin: 0 auto;
    left: 0;
  }
}
.samples_content__list-item {
  background-color: #3e8a32;
  border: 1px solid #030202;
  border-bottom: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.samples_content__title {
  cursor: pointer;
  display: block;
  padding: 20px 30px;
}
.samples_content__list:last-child {
  border-bottom: 1px solid #030202;
}
.samples_content__list-item:hover {
  background-color: #ffffff;
  color: #3e8a32;
}
#external-samples,
#online-samples,
#pdfs-samples {
  background-color: #ffffff;
  border: 1px solid #030202;
  border-bottom: 0;
  height: 0;
  list-style-type: square;
  margin: 0;
  overflow: hidden;
}
.sample_content__container li {
  margin: 20px 50px 0px 10px;
}
.sample_content__description {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
}
.sample_content__container li a {
  color: grey;
  font-weight: bold;
}
.sample_content__container li p {
  color: #030202;
}
.samples_content__close-list {
  background: url('../img/close-samples.png') no-repeat 98% 10px;
  background-color: #838380;
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  height: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
@media (min-width: 500px) {
  .samples_content__close-list {
    display: none;
  }
}
.samples_content__close-list span {
  position: relative;
  text-align: right;
  top: 16px;
  font-size: 20px;
  width: 100%;
  right: 71px;
  display: block;
  padding-right: 99px;
}
.desktop-close-list {
  background: url('../img/close-samples.png') no-repeat 94% 19px;
  background-color: #838380;
  cursor: pointer;
  padding: 17px 60px 17px 18px;
  font-size: 17px;
  text-decoration: underline;
  background-size: 13%;
  float: right;
  position: relative;
  top: 21px;
  left: -19px;
}
@media (max-width: 500px) {
  .desktop-close-list {
    display: none;
  }
}
.online-links__mobile {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.online-links__mobile div {
  opacity: 0;
}
.samples_content__sample {
  background: #ffffff;
  border-top: 1px solid #838380;
  border-bottom: 1px solid #838380;
  position: absolute;
  left: -1000px;
  width: 100%;
}
@media (min-width: 500px) {
  .samples_content__sample {
    margin-left: 25%;
    width: 50%;
  }
}
.samples_content__sample p {
  padding: 20px 20px;
}
.sample_content__sample_close {
  background: url('../img/close-item.png') no-repeat 12px 10px;
  background-color: #e8e8e8;
  bottom: 0;
  color: #838380;
  cursor: pointer;
  height: 0;
  opacity: 1 !important;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.sample_content__sample_close span {
  font-size: 20px;
  left: 61px;
  position: relative;
  top: 16px;
}
@media (min-width: 500px) {
  .contact_content {
    width: 30%;
    margin: 0 auto 150px;
    left: 0;
  }
}
.contact_content span {
  display: block;
  margin-bottom: 7px;
}
.contact_content form {
  margin: 0 auto;
}
.contact_content input {
  border: 0;
  background: #e8e8e8;
  height: 48px;
  font-size: 23px;
  margin-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  left: -16px;
  width: 100%;
}
.contact_content .message-box {
  background: #e8e8e8;
  border: 0;
  font-size: 23px;
  height: 200px;
  margin-bottom: 50px;
  padding: 16px 16px 0 16px;
  position: relative;
  left: -16px;
  width: 100%;
}
.contact_content .submit-button {
  background-color: #93bd8c;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 19px 0;
  font-size: 24px;
}
@media (min-width: 500px) {
  .contact_content .submit-button {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}
.contact_content .submit-button:hover {
  background-color: #ffffff;
  color: #3e8a32;
}
#desktop_overlay {
  background-color: #000;
  display: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}
